# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# Project specific
lixo/
